.header {
  height: calc(100vh - 80px);
}
.header-content {
  height: 100%;
}

.header-footer {
  position: absolute;
  bottom: 90px;
  width: 100%
}
h6 {
  color: white;
}

.ticket {
  height: 80px;
  text-align: center;
}