.header {
  height: calc(100vh - 80px);
  text-align: center;
}
.header-content {
  height: 100%;
}
.header-title {
  color: #fff;
  font-weight: 500;
}
.header-footer {
  position: absolute;
  bottom: 95px;
  min-width: 100%;
  color: #fff;
}

.nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 6px 4px 0 rgba(0, 0, 0, 0.03);
  background: #fff;
}
.nav .row {
  height: 80px;
}

.lead-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.description {
  margin-top: 60px;
  padding-bottom: 40px;
}
.description p {
  color: #535454;
  font-size: 17px;
}
.description a {
  color: #3f51b5;
  text-decoration: none;
}
.description a:hover,
.description a:active {
  color: #303f9f;
  text-decoration: none;
}

.sidebar .row {
  margin-top: 60px;
  margin-bottom: 40px;
}

.sidebar i {
  padding-top: 3px;
}

.sidebar p {
  color: #535454;
  font-size: 17px;
  margin-bottom: 10px;
  padding-left: 16px;
}

.anchor {
  display: block;
  height: 80px;
  /* same height as nav */
  margin-top: -80px;
  /* same height as nav */
  visibility: hidden;
}
