body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height: calc(100vh - 80px);
  text-align: center;
  &-content {
    height: 100%;
  }
  &-title {
    color: #fff;
    font-weight: 500;
  }
  &-footer {
    position: absolute;
    bottom: 95px;
    min-width: 100%;
    color: #fff;
  }
}

.nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 6px 4px 0 rgba(0, 0, 0, 0.03);
  background: #FFF;
  .row {
    height: 80px;
  }
}

.lead-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.description {
  margin-bottom: 80px;
  h1 {
    font-size: 34px;
    font-weight: 500;
    line-height: 33px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }

  p {
    color: #535454;
    font-size: 17px;
  }

  a {
    color: #3f51b5;
    text-decoration: none;
    &:hover,
    &:active {
      color: #303f9f;
      text-decoration: none;
    }
  }
}

.sidebar {
  .row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  i {
    padding-top: 3px;
  }
  p {
    color: #535454;
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 16px;
  }
}