.editor-wrapper {
  border: 1px solid #e0e0e0;
  border-radius: .25rem;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: text;
}

.editor-wrapper:focus,
.editor-wrapper:hover,
.editor-wrapper:active {
  border-color: #80bdff;
}

.rdw-colorpicker-option {
  border-radius: 50%;
}

.rdw-colorpicker-option:hover {
  -webkit-box-shadow: 0px 0px 6px 1px #e0e0e0;
  box-shadow: 0px 0px 6px 1px #e0e0e0;
}

.rdw-colorpicker-cube {
  border-radius: 50%;
  border: 0px;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper {
  border: 0px;
}
.rdw-option-wrapper:hover,
.rdw-dropdown-wrapper:hover {
  -webkit-box-shadow: 1px 1px 6px 1px #e0e0e0;
  box-shadow: 1px 1px 6px 1px #e0e0e0;
}

.rdw-dropdown-optionwrapper:hover {
  -webkit-box-shadow: 1px 2px 4px 1px #e0e0e0;
  box-shadow: 1px 2px 4px 1px #e0e0e0;
}

.rdw-emoji-modal {
  box-shadow: 3px 3px 3px #f3f3f3;
}
