@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');

body {
  background: #FFFFFF;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  src: url('/styles/fonts');
  color: rgba(0,0,0,.87);
}

table.borderless td,table.borderless th{
  border: none !important;
}