@import url('https://unpkg.com/basscss@8.0.2/css/basscss.min.css');

@font-face{
  font-family:"Avenir Next W01_n4";
  src:url("./fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src:url("./fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src:url("./fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("./fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("./fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("./fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("./fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"Avenir Next W01_n6";
  src:url("./fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src:url("./fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src:url("./fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"),url("./fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),url("./fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("./fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("./fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family:"Avenir Next W01_n8";
  src:url("./fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src:url("./fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src:url("./fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("./fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("./fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("./fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("./fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
  font-weight: 800;
  font-style: normal;
}

body {
  background: #FFFFFF;
  font-family: 'Avenir Next W01', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  src: url('/styles/fonts');
  color: rgba(0,0,0,.87);
}

table.borderless td,table.borderless th{
  border: none !important;
}