<div class="container">
  <nav class="row">
    <div class="col-xs-4 col-lg-3 col-lg-offset-2">
      <ul>
        <li><a href="http://developer.picatic.com/v2/api/">Docs</a></li>
        <li><a href="http://developer.picatic.com/v2/guides/getting-started">Guides</a></li>
        <li><a href="https://picatic.io/">Examples</a></li>
        <li><a href="http://developer.picatic.com/support/">Chat</a></li>
      </ul>
    </div><!-- /.col-xs-4 -->
  </nav><!-- /.row -->
  <div class="row">
    <div class="col-xs-12 align-center">
      <ul class="social-links">
        <li>
          <a href="http://twitter.com/picatic" target="_blank"><i class="ss-icon ss-social">&#xF611;</i></a>
        </li>
        <li>
          <a href="http://www.facebook.com/pages/Picaticcom/8564260221" target="_blank"><i class="ss-icon ss-social">&#xF610;</i></a>
        </li>
        <li>
          <a href="http://instagram.com/picatic/" target="_blank"><i class="ss-icon ss-social">&#xF641;</i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/picatic-com" target="_blank"><i class="ss-icon ss-social">&#xF612;</i></a>
        </li>
      </ul>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-12 serious-links align-center">
      <a href="https://www.picatic.com/p/terms">Terms of Use</a> &bull; <a href="https://www.picatic.com/p/privacy-policy">Privacy Policy</a>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.container -->
