/* @import url('https://picatic.global.ssl.fastly.net/v1.1.274/css/app.min.css'); */
/* @import url('https://picatic.global.ssl.fastly.net/v1.1.274/css/picatic.min.css'); */
/* @import url('https://picatic.global.ssl.fastly.net/v1.1.274/spa/marketing/css/app.min.css'); */
/* @import url('https://code.getmdl.io/1.3.0/material.indigo-pink.min.css'); */
/* 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdl-spinner--single-color {
  color: white;
}

.tada {
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 5%;
  left: 46%;
}

.confirm-text {
  font-size: 25px;
  height: 20px;
  position: relative;
  text-align: center;
  bottom: 0px;
}

.confirm-sub {
  position: relative;
  top: 0px;
  text-align: center;
}

.card-wide.mdl-card {
  width: 512px;
  background-color: white;
}

.card-wide-transparent.mdl-card {
  width: 512px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.errorcard.mdl-card {
  width: 512px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.card-inner.mdl-card {
  width: 85%;
  margin: auto;
  background-color: transparent;
}

.card-wide > .mdl-card__title {
  color: rgba(255, 255, 255, 0.151);
  height: 80px;
  background-color: transparent;
}

.title-text {
  color: #ffffff;
  font-family: 'Avenir Next';
  font-size: 25px;
  font-weight: bold;
}

.h1-subtitle {
  color: white;
  font-size: 25px;
  float: left;
  margin-bottom: 0 auto;
  position: relative;
}

.mdl-shadow--1dp {
  background: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.ordertable {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding: 10px;
  position: relative;
  border: none;
}

tr {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;

}

th {
  background-color: transparent;
  margin: 0;
  border-collapse: collapse !important;
  color: #212121;
  font-family: 'Avenir Next', Avenir, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
.inline {
  display: inline-block;
  margin: 5px;
}

@media screen and (min-width: 420px) and (max-width: 512px) {
  .card-wide.mdl-card {
    width: 100%;
    background-color: white;
  }

  .card-wide-transparent.mdl-card {
    width: 100%;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .errorcard.mdl-card {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .card-inner.mdl-card {
    width: 90%;
    margin: auto;
    background-color: transparent;
  }

  .card-wide > .mdl-card__title {
    color: rgba(255, 255, 255, 0.151);
    height: 80px;
    background-color: transparent;
  }

  .h1-subtitle {
    color: white;
    font-size: 20px;
    float: left;
    left: 3%;
    margin-bottom: 0 auto;
    position: relative;
  }
}

@media screen and (max-width: 419px) {
  .card-wide.mdl-card {
    width: 100%;
    background-color: white;
  }

  .card-wide-transparent.mdl-card {
    width: 100%;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .errorcard.mdl-card {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .card-inner.mdl-card {
    width: 100%;
    margin: auto;
    background-color: transparent;
  }

  .card-wide > .mdl-card__title {
    color: rgba(255, 255, 255, 0.151);
    height: 80px;
    background-color: transparent;
  }

  .h1-subtitle {
    color: white;
    font-size: 20px;
    float: left;
    left: 3%;
    margin-bottom: 0 auto;
    position: relative;
  }

  .title-text {
    color: #ffffff;
    font-family: 'Avenir Next';
    font-size: 18px;
    font-weight: bold;
  }

  .ordertable {
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 0px;
    position: relative;
    border: none;
  }
}

.eventSelection {
  width: 100%;
}

.authButton {
  width: 50%;
  margin: 10px;
}

.airBnblogo {
  width: 120px;
  height: 90px;
  position: relative;
  top: 40px;
  margin: auto;
  padding: 10px;
}

.addButton {
  width: 100%;
} */
