<div class="picatic-hidden picatic-widget-wrapper" id="picatic-widget-wrapper-{{ $ctrl.selectedEvent.event_id }}">
  <div class="picatic-backdrop"></div>
  <div class="picatic-hidden picatic-loading" id="picatic-loading-{{ $ctrl.selectedEvent.event_id }}" style="background-image: url('https://widget.picatic.com/latest/img/loading.svg';)"></div>
  <iframe allowtransparency="true" id="picatic-widget-iframe-{{ $ctrl.selectedEvent.event_id }}" class="picatic-hidden picatic-widget-iframe"></iframe>
</div>
