@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #fafafa;
}

.header-title {
  flex: 1;
}

.event-active-dot {
  width: 22px;
  height: 22px;
  background: #34cb7b;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #34cb7b;
}

.nav-button:hover {
  color: white;
}
